@import "@fontsource-variable/pixelify-sans";
@import "@fontsource/league-gothic";
@import "@fontsource/instrument-serif";
@import "@fontsource-variable/ibm-plex-sans";

@import "tailwindcss";
@import "./base.css" layer(components);
@import "./blog.css" layer(components);
@import "./themes.css";

@layer base {
  :root {
    /* REQUIRED DEFAULT THEME */
    --bg: #1a1a1a;
    --text: #e0e0e0;
    --link: #5e971d;
    --link-hover: #73d13d;
    --font-body: "Lato", sans-serif;
    --font-heading: "Instrument Serif", serif;
    --shadow-search: 0 -1px 27px 0 rgba(0, 0, 0, 0.04);
  }

  body {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    font-family: var(--font-body);
    transition: all 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--text);
  }
}

@layer utilities {
  .shadow-search {
    box-shadow: var(--shadow-search);
  }
}
