/* Human Theme */
[data-theme="human"] {
  --bg: #00bfff;
  --text: #d3f0ff;
  --link: #5afff8;
  --link-hover: #41e3db;
  --font-body: "Lato", sans;
  --font-heading: "Instrument Serif", sans-serif;
}

[data-theme="human"] body {
  background-image: url("/assets/img/textured-bg.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Musician Theme */
[data-theme="musician"] {
  --bg: #00ff5905;
  --text: #ffff87;
  --link: #5e971d;
  --link-hover: rgb(193, 226, 155);
  --font-body: "Lato", sans;
  --font-heading: "courier new", monospace;
}

[data-theme="musician"] body {
  background-image:
    linear-gradient(hsla(142, 69%, 58%, 0.418), hsla(67, 100%, 50%, 0.918)),
    url("/assets/img/textured-bg.jpg");
  background-blend-mode: saturation;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-shadow:
    2px 2px 2px #f1ffd5,
    -1px -1px -1px #ffd5db,
    0px 0px 10px #d9d5ff;
}

/* Pharmaceutical Jingle Writer Theme */
[data-theme="a pharmeteucial jingle writer"] {
  --bg: #ffbb00;
  --text: #060225;
  --link: #d97706;
  --link-hover: #b45309;
  --font-body: "Courier", monospace;
  --font-heading: "League Gothic", monospace;
}

[data-theme="a pharmeteucial jingle writer"] body {
  box-shadow: inset 0 0 90px 90px rgb(255, 237, 100);
}

/* Terminal Theme (if you want to keep it) */
[data-theme="terminal"] {
  --bg: #9bf84302;
  --text: #e4eed3;
  --link: #bcff6f;
  --link-hover: rgb(193, 226, 155);
  --font-body: "Lato", sans;
  --font-heading: "Instrument Serif", sans-serif;
}

/* Dweeb Theme (if you want to keep it) */
[data-theme="a huge dweeb"] {
  --bg: #0b010e;
  --text: hsl(120, 38%, 66%);
  --link: hsl(142, 77%, 73%);
  --link-hover: #4ade80;
  --font-body: "IBM Plex Mono", monospace;
  --font-heading: "Pixelify Sans Variable", monospace;
}

[data-theme="a huge dweeb"] body {
  box-shadow: inset 0 0 90px 40px rgba(20, 9, 173, 0.4);
}
